footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 6em;
  padding-top: 15em;
  padding-bottom: 15em;
  background-color: #3F3D56;
}

footer a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer span {
  font-family: 'Roboto-Regular';
  color: white;
  font-size: 1em;
  margin-top: 0.5em;
}

footer ul {
  list-style-type: none;
  display: flex;
}

footer li a {
  text-decoration: none;
  padding: 1em 1.5em 1em 1.5em;
  border-radius: 1em;
}

footer li a:hover {
  background-color: #292838;
}

footer .paragraph {
  margin-top: 6em;
  text-align: center;
  color: white;
  font-family: 'Roboto-Light';
  font-size: 0.75em;
}