header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #ccc;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 2.5em;
  padding-bottom: 1.5em;
}

header h1 a {
  font-family: 'Roboto-Black';
  text-decoration: none;
  font-size: 0.75em;
  color: black;
}

header h1 a:hover {
  color: black
}

header ul {
  list-style-type: none;
  display: flex;
}

header li a {
  padding: 1.5em 2em 1.5em 2em;
  text-decoration: none;
  font-family: 'Roboto-Medium';
  color: black;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #ccc;
}

header li a:hover {
  border-bottom-width: 3px;
}

@media only screen and (max-width: 768px) {
  header ul {
    display: none;
  }
}