header {
  position: sticky;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  border-bottom: 1px solid #bbb;
  box-shadow: 0 15px 20px -20px rgba(0, 0, 0, 0.2);
  background-color: white;
  z-index: 1000;
  max-width: 1440px;
  margin: 0 auto;
  margin-top: 1.5em;
  padding-top: 1em;
  padding-bottom: 1.5em;
}

header h1 a {
  font-family: 'Roboto-Black';
  text-decoration: none;
  font-size: 0.75em;
  color: black;
}

header h1 a:hover {
  color: black
}

header ul {
  list-style-type: none;
  display: flex;
}

header li a {
  padding: 1.5em 2em 1.5em 2em;
  text-decoration: none;
  font-family: 'Roboto-Black';
  color: #666;
  border-bottom-width: 0px;
  border-bottom-style: solid;
  border-bottom-color: #999;
}

header li a:hover {
  border-bottom-width: 3px;
}

@media only screen and (max-width: 768px) {
  header {
    position: static;
    margin-top: 0;
    padding-bottom: 1em;
    box-shadow: none;
    ul {
      display: none;
    }
  }
}