@font-face {
  font-family: Roboto-Light;
  src: url(../fonts/Roboto/Roboto-Light.ttf)
}
@font-face {
  font-family: Roboto-Regular;
  src: url(../fonts/Roboto/Roboto-Regular.ttf)
}
@font-face {
  font-family: Roboto-Medium;
  src: url(../fonts/Roboto/Roboto-Medium.ttf)
}
@font-face {
  font-family: Roboto-Bold;
  src: url(../fonts/Roboto/Roboto-Bold.ttf)
}
@font-face {
  font-family: Roboto-Black;
  src: url(../fonts/Roboto/Roboto-Black.ttf)
}

html, body, main, * {
  margin: 0;
  padding: 0;
  font-family: 'Roboto-Regular', Arial, sans-serif;
  color: black;
  outline: none;
}

body {
  font-size: 16px;
}

main {
  max-width: 1440px;
  margin: 0 auto;
}

main, header {
  padding-left: 1.5em;
  padding-right: 1.5em;
}

@media only screen and (max-width: 768px) {
  body {
    font-size: 0.75em;
  }
}