.navItem {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 1em;

  span {
    font-family: 'Roboto-Bold';
    margin-top: 0.3em;
    margin-bottom: 0.1em;
    color: #666;
  }
}

.active {
  span {
    color: $primary-color;
  }
  svg {
    stroke: $primary-color;
  }
}

.inactive {
  color: #666666;
}