.internalAction {
  display: inline-flex;
  flex-direction: row;
  text-decoration: none;
  align-items: center;

  .internalActionText {
    font-size: 1.25em;
    font-family: "Roboto-Bold";
    color: $link-color;
    white-space: nowrap;
  }
}
