.workEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13em;

  .workEntryTextPanel {
    flex: 1;
  }

  .workEntryImageContainer {
    flex: 1;
  }

  .badges {
    margin-top: 1em;
  }
}
.workEntry:nth-child(odd) {
  flex-direction: row-reverse;

  .workEntryTextPanel {
    padding-left: 4em;
  }
}
.workEntry:nth-child(even) {
  .workEntryTextPanel {
    padding-right: 4em;
  }
}



@media only screen and (max-width: 768px) {
  .workEntry {
    flex-direction: column-reverse !important;

    .workEntryImageContainer {
      margin-bottom: 1em;
    }
    .workEntryTextPanel {
      padding: 0 !important;
    }
  }
}