.workEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 13em;

  .workEntryTextPanel {
    flex: 1;

    .dateContainer {
      display: flex;
      flex-direction: row;
      align-items: center;
      margin-top: 1em;

      .date .paragraph {
        margin-bottom: 0;
        margin-left: 0.65em;
        vertical-align: middle;
        line-height: normal;
        font-family: "Roboto-Regular";
        color: #333;
      }
    }
  }

  .workEntryImageContainer {
    flex: 1;
  }
}

.fullWidthImageContainer {
  margin-bottom: 3em;
}

.workEntry:nth-child(odd) {
  flex-direction: row-reverse;

  .workEntryImageContainer {
    padding-right: 4em;
  }
}
.workEntry:nth-child(even) {
  .workEntryImageContainer {
    padding-left: 4em;
  }
}

@media only screen and (max-width: 768px) {
  .workEntry {
    flex-direction: column-reverse !important;

    .workEntryImageContainer {
      margin-bottom: 1.5em;
    }
    .workEntryTextPanel {
      padding: 0 !important;
    }
  }
}
