.aboutContainer {
  display: flex;
  flex-direction: row-reverse;

  .textPanel {
    flex: 2;
    padding-left: 4em;

    .seeMore {

      .promptText {
        margin-right: 1em;
        font-size: 1.5em;
        font-family: 'Roboto-Regular';
      }
    }
  }

  .imagePanel {
    flex: 1;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .aboutContainer {
    flex-direction: column-reverse;
  }
}