.contactContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .textPanel {
    flex: 1;

    .mediaContainer {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;

      .mediaItem {
        margin-right: 2em;
        margin-bottom: 2em;
      }
    }

    .seeMore {

      .promptText {
        margin-right: 1em;
        font-size: 1.5em;
        font-family: 'Roboto-Regular';
      }
    }
  }

  .imagePanel {
    flex: 1;
    align-self: flex-end;

    img {
      width: 100%;
    }
  }
}

@media only screen and (max-width: 768px) {
  .contactContainer {
    flex-direction: column-reverse;

    .imagePanel {
      margin-top: 3em;
    }
  }
}