.indexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .textPanel {
    flex: 3;
  }

  .imagePanel {
    flex: 2;
    align-self: flex-end;

    img {
      width: 100%;
    }
  }

  .cta {
    margin-top: 1.5em;
    border: none;
    background-color: #2575fc;
    padding: 2em 4em 2em 4em;
    border-radius: 0.75em;

    * {
      vertical-align: middle;
    }

    span {
      color: white;
      font-family: 'Roboto-Bold';
      font-size: 1.5em;
    }
  }

  .cta:hover {
    cursor: pointer;
  }

  .homeText {
    margin-top: 5em;
    max-width: 720px;
    line-height: 1.5em;
    font-size: 1em;
    color: #333;
  }
}

@media only screen and (max-width: 768px) {
  .indexContainer {
    flex-direction: column;

    .imagePanel {
      margin-top: 3em;
    }
  }
}