.indexContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  .textPanel {
    flex: 3;
  }

  .imagePanel {
    flex: 2;
    align-self: flex-end;

    img {
      width: 100%;
    }
  }

  .cta {
    margin-top: 1em;
    border: none;
    background-color: #2575fc;
    padding: 2em 4em 2em 4em;
    border-radius: 1em;
    white-space: nowrap;

    * {
      vertical-align: middle;
    }

    span {
      color: white;
      font-family: 'Roboto-Bold';
      font-size: 1.5em;
    }
  }

  .cta:hover {
    cursor: pointer;
  }

  .homeText {
    margin-top: 5em;
    max-width: 720px;
    margin-bottom: 1em;
  }
}

@media only screen and (max-width: 768px) {
  .indexContainer {
    flex-direction: column-reverse;

    .imagePanel {
      margin-top: 3em;
    }

    .homeText {
      margin-top: 1em;
    }
  }
}