footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 2px solid #eee;
  margin-top: 6em;
  padding-top: 15em;
  padding-bottom: 15em;
  background-color: white;
}

footer ul {
  list-style-type: none;
  display: flex;
  margin-bottom: 5em;
}

footer li a {
  text-decoration: none;
  padding: 0.5em 1em 0.5em 1em;
  font-size: 1.25em;
  font-family: 'Roboto-Bold';
  color: black;
  border-radius: 1em;
}

footer li a:hover {
  background-color: #eee;
}

footer p {
  color: black;
  font-size: 0.75em;
  font-family: 'Roboto-Regular';
  margin: 0.75em;
}