
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #aaa;
}

header h1 {
  margin: 0;
  padding: 0;
}

header ul {
  list-style-type: none;
  display: flex;
}

header li a {
  margin-right: 2em;
  text-decoration: none;
  color: black;
}

header li a:hover {
  color: blue;
}