header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  max-width: 1440px;
  margin: 0 auto;
  padding-top: 3em;
  padding-bottom: 1em;
}

header h1 a {
  font-family: 'Roboto-Bold';
}

header ul {
  list-style-type: none;
  display: flex;
}

header li a {
  margin-right: 3em;
  text-decoration: none;
  font-family: 'Roboto-Bold';
  color: black;
}

header li a:hover {
  color: blue;
}

@media only screen and (max-width: 768px) {
  header ul {
    display: none;
  }
}