.title {
  font-size: 5em;
  font-family: 'Roboto-Black';
  margin-top: 1em;
  transition: opacity 0.5s;
}

span {
  font-family: 'Roboto-Black';
  transition: opacity 1s
}

@media only screen and (max-width: 768px) {
  .title {
    font-size: 3em;
  }
  .container {
    text-align: center;
  }
}