.workEntry {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.workEntryTextPanel {
  padding-right: 2em;
  flex: 1;
}

.workEntryImageContainer {
  flex: 1;
}

.workEntryTitle {
  font-size: 2.5em;
  font-family: 'Roboto-Bold';
}

.workEntrySubtitle {
  margin-top: 0.25em;
  font-size: 1.5em;
  font-family: 'Roboto-Regular';
}

.workEntryDescription {
  margin-top: 2.5em;
  font-size: 1em;
  font-family: 'Roboto-Regular';
  line-height: 2em;
}

.workEntryDescriptionParagraph {
  color: #333;
}

.workEntryLink {
  color: blue;
}

.workEntryImage {
  width: 100%;
  height: auto;
}

@media only screen and (max-width: 768px) {
  .workEntry {
    display: block;
  }
}